div 
    div(class="box left")
        ul(class="nav nav-pills nav-stacked")
            li(role="presentation") #[a(href="#") Profile]
            li(role="presentation") 
                a(href="#") Maps
                ul(class="nav nav-pills")
                    li(role="presentation") #[a(href="#") Browse]
                    li(role="presentation") #[a(href="#") Default]
        div(class="box right")
        span Not sure what will this be used for.