form(class="form-group")
    div(class="row")
        label(class="label label-default") Username
        input(type="text",class="form-control",ng-model="loginInfo.userName",required)
        label(class="label label-default") Password
        input(type="text",class="form-control",ng-model="loginInfo.password",required)        
        div
            button(class="btn btn-success inline",ng-click="login()") Login
            a(class="btn btn-success  inline",ng-click="navigateTo()") Register 
    div(class="row")
        div(class="")
            a(href="#",class="btn btn-block btn-social-icon btn-twitter inline")
                span(class="fa fa-twitter") 
            a(href="#",class="btn btn-block btn-social-icon btn-facebook inline")
                span(class="fa fa-facebook")