div(class="form-group")
    label(class="label label-default") First Name
    input(type="text",class="form-control",ng-model="userInfo.firstName",required)
    label(class="label label-default") Last Name
    input(type="text",class="form-control",ng-model="userInfo.lastName",required)
    label(class="label label-default") Email
    input(type="text",class="form-control",ng-model="userInfo.email",required,pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$",ng-change="isEmailExists()") 
    label(class="label label-default") Gender
    select(class="form-control",ng-model="userInfo.gender",required)
        option(value="M") Male
        option(value="F") Female
        option(value="U") Undisclosed
    label(class="label label-default") Date of Birth
    input(type="text",class="form-control",ng-model="userInfo.dateOfBirth",required)
    label(class="label label-default") Ethnicity
    input(type="text",class="form-control",ng-model="userInfo.ethnicity")
    label(class="label label-default") Location
    input(type="text",class="form-control",ng-model="sellocation",required,ng-keyup="searchLocation($event)")
    div(class="ontop")
        ul(class="list-group")
            li(ng-repeat="l in locations",class="list-group-item")
                a(href="#",ng-click="selectLocation(l,$event)") {{l.description}}
    button(class="btn btn-default") Update