form(class="form-group")
    div(class="row")
        div(class="col-8-sm")
        div(class="col-4-sm")
            label(class="label label-default") UserName
            input(type="text",class="form-control",ng-model="userInfo.userName",required)
            label(class="label label-default") First Name
            input(type="text",class="form-control",ng-model="userInfo.firstName",required)
            label(class="label label-default") Last Name
            input(type="text",class="form-control",ng-model="userInfo.lastName",required)
            label(class="label label-default") Email
            input(type="text",class="form-control",ng-model="userInfo.email",required,pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
            label(class="label label-default") Gender
            select(class="form-control",ng-model="userInfo.gender",required)
                option(value="M") Male
                option(value="F") Female
                option(value="U") Undisclosed
            label(class="label label-default") Date of Birth
            input(type="text",class="form-control",ng-model="userInfo.dateOfBirth",required)
            label(class="label label-default") Ethnicity
            input(type="text",class="form-control",ng-model="userInfo.ethnicity")
            label(class="label label-default") Location
            input(type="text",class="form-control",ng-model="sellocation",required,ng-keyup="searchLocation($event)")
            label(class="label label-default") Password
            input(type="password",class="form-control",ng-model="userInfo.password")
            label(class="label label-default") Confirm Password
            input(type="confirmPassword",class="form-control",ng-model="confirmPassword")            
            div
                ul(class="list-group")
                    li(ng-repeat="l in locations",class="list-group-item")
                        a(href="#",ng-click="selectLocation(l,$event)") {{l.description}}
            button(class="btn btn-default") Register