body{
   /*background:-webkit-repeating-radial-gradient(circle farthest-corner at center center, rgb(232, 18, 18) 0%, rgba(0, 0, 0, 0.65) 30%, rgba(255,0,0,1) 50%, rgb(0, 0, 0) 70%, rgb(244, 13, 13) 100%);
background:-o-repeating-radial-gradient(circle farthest-corner at center center, rgb(232, 18, 18) 0%, rgba(0, 0, 0, 0.65) 30%, rgba(255,0,0,1) 50%, rgb(0, 0, 0) 70%, rgb(244, 13, 13) 100%);
background:-moz-repeating-radial-gradient(circle farthest-corner at center center, rgb(232, 18, 18) 0%, rgba(0, 0, 0, 0.65) 30%, rgba(255,0,0,1) 50%, rgb(0, 0, 0) 70%, rgb(244, 13, 13) 100%);
background:repeating-radial-gradient(circle farthest-corner at center center, rgb(232, 18, 18) 0%, rgba(0, 0, 0, 0.65) 30%, rgba(255,0,0,1) 50%, rgb(0, 0, 0) 70%, rgb(244, 13, 13) 100%);*/
}


#heart {
    position: relative;
    width: 100%;
    height: 100%;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}